// sidebar
$menuText:#FFF;
$menuActiveText:#FFA200;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#333;
$menuHover:gray;

$subMenuBg:#999;
$subMenuHover:#666;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}


// 主色
$primaryColor: hsl(220, 99%, 60%);
$gray: #999999;
$lightGray: #eee;
$gray6: #666;
$E5: #e5e5e5;
$EE: #eee;
$origin:#FFA200!important;

